@charset "utf-8";

// Import Google Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

// Customization
@import "../node_modules/bulma/sass/utilities/initial-variables";
$family-sans-serif: "Montserrat", "Helvetica", "Arial", sans-serif;
$white: #fff;
$black-ter: #171727;
$light: #f5f5f5;
$dark: #2c2c3f;
$primary: #44bfd5;
$success: #93b471;
$link: #93b471;

// BULMA CSS
@import "../node_modules/bulma/bulma";

// CUSTOM CSS
.has-text-shadow {
  text-shadow: 1px 1px 2px rgba($black, 0.3);
}
.has-flat-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.has-flex-reverse {
  flex-direction: row-reverse;
}
.is-flex-direction-column {
  flex-direction: column !important;
}
.has-top-auto {
  margin-top: auto;
}

// NAV BAR
.modio-navbar {
  // Larger Logo with Hover Shadow
  .modio-navbar-logo {
    margin-right: 10px;
    img {
      height: 45px;
      max-height: 45px;
    }
    &:hover img {
      filter: drop-shadow(0 0 5px rgba($primary, 0.4));
    }
  }

  // Fix Bulma Bugs
  // 1. https://github.com/jgthms/bulma/issues/3098
  // 2. Background for desktop dropdown links within a navbar.is-transparent are overridden by !important
  @include desktop {
    .navbar-dropdown {
      .navbar-item,
      .navbar-link {
        color: $dark; // 1
        &:hover {
          color: $black-ter; // 1
          background-image: linear-gradient($light, $light); // 2
        }
      }
    }
  }
}

.modio-hero {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $dark;
  background-image: linear-gradient(rgba($dark, 0.7), rgba($dark, 1)),
    url(../img/bg-tiles.jpg);
}

.modio-hero-art {
  margin: -20px 0;
  @include touch {
    margin: -20px auto;
    max-width: 500px;
    max-height: 500px;
  }
}

.modio-games {
  flex-wrap: wrap;
  justify-content: space-around;
  a {
    align-items: center;
    img {
      max-height: 60px;
      max-width: 160px;
      height: auto;
      width: auto;
    }
  }
}

.modio-gear-line {
  position: relative;
  margin: -50px 0 -70px 0;
  height: 120px;
  background-size: auto 120px;
  background-position: top center;
  background-repeat: repeat-x;
  background-color: transparent;
  background-image: url(../img/hr-gears-tritone.svg);
}

.modio-features {
  background-size: auto 120px, auto 80%, 100%;
  background-position: center calc(100% + 80px), center center, center center;
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-color: $black;
  background-image: url(../img/hr-gears-solid.svg), url(../img/bg-gears.svg),
    radial-gradient(
      ellipse farthest-side,
      rgba($dark, 0.5) 50%,
      rgba($dark, 0) 100%
    );
}

.modio-plans {
  position: relative;
  box-shadow: 0 0 1em rgba($black-ter, 8.8), inset 0 0 1px rgba($white, 0.3);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $black-ter;
  background-image: linear-gradient(
      rgba($black-ter, 0.5),
      rgba($black-ter, 0.8)
    ),
    url(../img/bg-stripes.jpg);
}

.modio-dev {
  background-size: auto 120px, cover, cover;
  background-position: center -50px, center top, center top;
  background-repeat: repeat-x;
  background-color: $primary;
  background-image: url(../img/hr-gears-solid.svg),
    linear-gradient(rgba($success, 0.7), rgba($success, 1)),
    url(../img/bg-tiles.jpg);
}
