@charset "utf-8";

// Import Google Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

// Customization
@import "../node_modules/bulma/sass/utilities/initial-variables";
$family-sans-serif: "Montserrat", "Helvetica", "Arial", sans-serif;
$white: #fff;
$black: #171727;
$light: #f5f5f5;
$dark: #2c2c3f;
$primary: #44bfd5;
$alt: #93b471;
$link: #93b471;

// BULMA CSS
@import "../node_modules/bulma/bulma";

// HOMEPAGE CSS

// BACKGROUNDS
.mod-background-bluetiles {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba($dark, 0.7), rgba($dark, 0.9)),
    url(../img/bg-tiles.jpg);
}
.mod-background-greentiles {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba($alt, 0.7), rgba($alt, 0.9)),
    url(../img/bg-tiles.jpg);
}

// NAV BAR
.mod-navbar {
  // Larger Logo with Hover Shadow
  .mod-navbar-logo {
    margin-right: 10px;
    img {
      height: 45px;
      max-height: 45px;
    }
    &:hover img {
      filter: drop-shadow(0 0 5px rgba($primary, 0.4));
    }
  }

  // Bulma Bugs
  // 1. https://github.com/jgthms/bulma/issues/3098
  // 2. Background for desktop dropdown links within a navbar.is-transparent are overridden by !important
  @include desktop {
    .navbar-dropdown {
      .navbar-item,
      .navbar-link {
        color: $dark; // 1
        &:hover {
          color: $black; // 1
          background-image: linear-gradient($light, $light); // 2
        }
      }
    }
  }
}

// HERO ART
.mod-hero-art {
  position: relative;
  height: 450px;
  max-width: 500px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.mod-hero-box {
      top: 42%;
    }
  }
}
