@charset "utf-8";

// Import Google Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

// Customization
@import "../node_modules/bulma/sass/utilities/initial-variables";
$family-sans-serif: "Montserrat", "Helvetica", "Arial", sans-serif;
$white: #fff;
$black-ter: #171727;
$light: #f5f5f5;
$dark: #2c2c3f;
$primary: #44bfd5;
$success: #93b471;
$link: #93b471;

// BULMA CSS
@import "../node_modules/bulma/bulma";

// HOMEPAGE CSS
.has-text-shadow {
  text-shadow: 1px 1px 2px rgba($black, 0.3);
}
.has-box-shadow {
  box-shadow: 0 0.5em 1em -0.125em rgba($black, 0.3),
    0 0px 0 1px rgba($black, 0.02);
}

// BACKGROUNDS
.modio-background-bluetiles {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: $dark;
  background-image: linear-gradient(rgba($dark, 0.7), rgba($dark, 1)),
    url(../img/bg-tiles.jpg);
}

// NAV BAR
.modio-navbar {
  // Larger Logo with Hover Shadow
  .modio-navbar-logo {
    margin-right: 10px;
    img {
      height: 45px;
      max-height: 45px;
    }
    &:hover img {
      filter: drop-shadow(0 0 5px rgba($primary, 0.4));
    }
  }

  // Fix Bulma Bugs
  // 1. https://github.com/jgthms/bulma/issues/3098
  // 2. Background for desktop dropdown links within a navbar.is-transparent are overridden by !important
  @include desktop {
    .navbar-dropdown {
      .navbar-item,
      .navbar-link {
        color: $dark; // 1
        &:hover {
          color: $black-ter; // 1
          background-image: linear-gradient($light, $light); // 2
        }
      }
    }
  }
}

// Launch Box
.modio-launch-box {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// Games Box
.modio-games-box {
  flex-wrap: wrap;
  justify-content: space-around;
  a {
    align-items: center;
    img {
      max-height: 60px;
      max-width: 160px;
      height: auto;
      width: auto;
    }
  }
}

// Features Box
.modio-features-box {
  background-size: auto 120px, cover, 100%;
  background-position: center calc(100% + 80px), top center, center center;
  background-repeat: no-repeat;
  background-color: $black;
  background-image: url(../img/hr-gears-2.svg), url(../img/bg-gears.svg),
    radial-gradient(
      ellipse farthest-side,
      rgba($dark, 0.5) 50%,
      rgba($dark, 0) 100%
    );
}

// Swap every other Feature: left <-> right
.modio-swap-direction {
  flex-direction: row-reverse;
}

.modio-plans-box {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: $black-ter;
  background-image: linear-gradient(rgba($black-ter, 0.4), rgba($black-ter, 0.7)),
    url(../img/bg-stripes.jpg);
}

// Gears Horizontal Rule
.modio-hr-gears {
  position: relative;
  z-index: 2;
  margin: -100px -3rem 0 -3rem;
  height: 120px;
  background-size: auto 120px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../img/hr-gears-1.svg);
}

// Make Room for Gears HR
.modio-hr-pad-bottom {
  padding-bottom: 90px;
}
